@import '../../_SASS/All';

#socials{
    position: absolute;
    right: 1.5rem;
    top: 50%;
    @include transform(translateY(-50%));
    @include flexBox(column, none, center);
    z-index: 100;
    @include appearAnim();
    .fab{
        font-size: 2.5rem;
        margin-bottom: 1rem;
        cursor: pointer;
        &:hover{
            @include filters(brightness(150%));
        }
    }
    .fa-github{
        color: #800080;
    }
    .fa-linkedin{
        color: #0274b3;
    }
    .fa-instagram{
        background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}