@import '../../_SASS/All';
.bg{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
//BG CODING
#bg-coding{
    @include flexBox(row, space-evenly, flex-start);
    color: #fff;
    background-color: $pure_black;
    z-index: -2;
    .binary-text{
        p{
            color: red;
            @include filters(brightness(150%));
            margin: 0;
            font-weight: 700;
        }
        .binary-animated{
            @include animation(type_write 1s ease, char_drop 10s ease, char_rotate 5s linear infinite);
        }
        .character{
            background-color: transparent;
            color: red;
        }
    }
}

@keyframes type_write{
    0%{opacity: 0}
    50%{opacity: 0}
    100%{opacity: 1}
}

@keyframes char_drop{
    0%{margin-top: 0;}
    20%{margin-top:0}
    100%{margin-top: 100vh;}
}

@keyframes char_rotate{
    0%{}
    100%{rotate: 360deg;}
}





//BG LAYOUT
#bg-layout{
    @include flexBox(row, none, none);
    z-index: 0;
    height: 100%;
    width: 100%;
    section{
        width: 75%;
        height: 100%;
        color: white;
    }
    .left-side{
        background: linear-gradient(166deg, rgba(32,1,34,.85) 0%, rgba(111,0,0,.80) 100%);
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
        @include animation(left_side_entrance 3s ease);
}
    .right-side{
        margin-left: -33.5%;
        background:linear-gradient(42deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.6) 100%);
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
        @include animation(right_side_entrance 3s ease);
    }
}

@keyframes left_side_entrance {
    0%{
        margin-left: -100vh;
    }
    80%{
        margin-left: -100vh;
    }
    100%{
        margin-left: 0;
    }
}

@keyframes right_side_entrance {
    0%{
        margin-left: 350vh;
    }
    80%{
        margin-left: 350vh;
    }
    100%{
        margin-left: -33.5%;
    }
}